- name: Create Kafka dirs
  file:
    path: "/opt/kafka-{{ env }}/{{ item }}"
    owner: root
    group: root
    mode: 0755
    state: directory
  loop:
    - data
    - config
    - logs

- name: Copy Kafka JAAS config
  template:
    src: "templates/kafka_jaas.conf.j2"
    dest: "/opt/kafka-{{ env }}/config/kafka_jaas.conf"
    owner: root
    group: root
    mode: 0644
  notify: Restart Kafka service

- name: Copy Kafka config
  template:
    src: "templates/server.properties.j2"
    dest: "/opt/kafka-{{ env }}/config/server.properties"
    owner: root
    group: root
    mode: 0644
  notify: Restart Kafka service

- name: Copy Kafka service file
  template:
    src: "templates/kafka.service.j2"
    dest: "/etc/systemd/system/kafka-{{ env }}.service"
    owner: root
    group: root
    mode: 0644
  notify: Restart Kafka service

- name: Pull Kafka image
  docker_image:
    name: iaroki/kafka
    tag: "{{ ver }}"
    source: pull
    state: present
  notify: Restart Kafka service
