dataDir=/data/zookeeper
clientPort={{ zookeeper_port }}
maxClientCnxns=15
admin.enableServer=false
initLimit=10
syncLimit=5
tickTime=2000
# list of servers
server.1={{ hostvars['kafka-node1']['ansible_host'] }}:{{ zookeeper_election }}
server.2={{ hostvars['kafka-node2']['ansible_host'] }}:{{ zookeeper_election }}
server.3={{ hostvars['kafka-node3']['ansible_host'] }}:{{ zookeeper_election }}
#auth
authProvider.1=org.apache.zookeeper.server.auth.SASLAuthenticationProvider
requireClientAuthScheme=sasl
jaasLoginRenew=3600000

